*
{
    margin: 0;
    padding: 0;
    color: aquamarine;
    box-sizing: dorder-box;
}
body
{
    background-image: url('');
}
.formulario
{
    text-align-last: auto;
    width: 800px;
    background: #042e58;
    padding: 50px;
    margin: auto;
    margin-top: 10px;
    border-radius: 2px;
    font-family: 'calibri';
    color: white;
    box-shadow: 5px 8px rgb(19, 66, 14);
}
.formulario h1
{
    font-size: 60px ;
    margin-bottom: 20px;
}
.formulario h2
{
    font-size: 30px;
    margin-bottom: 30px;
}
.control
{
    width: 40%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1190a7;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(210, 216, 202);
}
.boton
{
    width: 20%;
    background: #2c9c7a;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}